/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig"; }

/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/
/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
.menu {
  /* end .menu ul */ }
  .menu ul {
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */ }
    .menu ul li {
      /*
      plan your menus and drop-downs wisely.
      */ }
      .menu ul li a {
        /*
        you can use hover styles here even though this size
        has the possibility of being a mobile device.
        */ }

/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
.entry-content {
  /* at this larger size, we can start to align images */ }
  .entry-content .alignleft, .entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left; }
  .entry-content .alignright, .entry-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right; }
  .entry-content .aligncenter, .entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both; }

/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL
*********************/
.sidebarTopImg {
  display: block; }

/*********************
LAYOUT & GRID
*********************/
#wrap {
  width: 100%;
  padding: 0 10px;
  text-align: left; }

.menu, .sub-menu {
  margin: 0; }

/*********************
HEADER
*********************/
#header {
  width: 100%;
  max-width: 977px;
  height: 158px;
  margin: 0 auto;
  position: relative;
  text-align: center; }

img#logoEW {
  width: 314px;
  height: 45px;
  margin: 0;
  position: absolute;
  bottom: 55px;
  left: 7px; }

img#subtitleEW {
  width: 430px;
  height: 20px;
  margin: 0;
  position: absolute;
  bottom: 60px;
  left: 336px; }
  @media only screen and (max-width: 790px) {
    img#subtitleEW {
      width: 410px;
      height: 20px; } }

/*********************
MAIN NAV
*********************/
#navEWMain {
  width: 100%;
  height: 37px;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: visible;
  background-color: none;
  background: none; }
  #navEWMain img#expandNavMain {
    display: none; }
  #navEWMain ul {
    width: 100%;
    height: 37px;
    list-style: none;
    display: block; }
    #navEWMain ul li {
      width: 16.6666667%;
      height: 37px;
      float: left;
      list-style: none;
      display: block;
      text-align: center; }
      #navEWMain ul li a {
        width: 100%;
        height: 37px;
        padding: 0;
        display: block;
        line-height: 37px;
        font-family: Georgia, serif;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        background-image: url(../images/navigation-sprite.png);
        background-repeat: repeat-x;
        background-size: auto;
        background-position: center -111px;
        border-right: 1px solid #ccc;
        border-top: none;
        border-bottom: none; }
        #navEWMain ul li a:hover {
          background-position: right -148px;
          border-top: none;
          border-bottom: none; }
      #navEWMain ul li:first-child {
        border-radius: 4px 0 0 4px; }
        #navEWMain ul li:first-child a {
          border-radius: 4px 0 0 4px; }
      #navEWMain ul li:last-child {
        border-radius: 0 4px 4px 0; }
        #navEWMain ul li:last-child a {
          border-radius: 0 4px 4px 0;
          border-right: none; }
    #navEWMain ul li.current-menu-item a {
      background-position: right -185px;
      border-top: none;
      border-bottom: none; }
  #navEWMain ul ul {
    display: none !important; }

#programsNavBox {
  width: 748px;
  height: 246px;
  padding: 20px 0;
  position: absolute;
  top: 37px;
  left: 0;
  z-index: 10;
  border: 3px solid #7AA4CC;
  background-color: #fff;
  display: none; }

.programBox {
  width: 123px;
  height: 200px;
  padding: 0 0 0 21px;
  float: left;
  border-right: 1px dashed #000;
  text-align: left; }
  .programBox a {
    text-decoration: none; }
  .programBox img {
    width: 80px;
    height: 80px; }
  .programBox h2 {
    height: 80px;
    margin: 0px;
    padding: 10px 0;
    font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2","Georgia",serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #57585A; }
  .programBox:last-child {
    border-right: none; }

/*********************
CONTENT
*********************/
/* PAGE CONTENT ~~~~~~~~~~~~~~~~~~~~~~~~*/
#content {
  width: 100%;
  max-width: 997px;
  margin: 0 auto;
  padding: 6px 0 0 0;
  position: relative;
  z-index: 0;
  overflow: hidden; }

#main {
  width: 100%;
  max-width: 997px;
  margin: 0 -376px 0 0;
  padding: 0 376px 0 0;
  float: left;
  position: relative;
  z-index: 2; }

.shadowBox, .shadowBoxClosedContainer, .shadowBoxClosedTop, .shadowBoxClosedTop div.shadowBoxClosedTopDiv, .shadowBoxClosedInner, .shadowBoxClosedBottom, .shadowBoxClosedBottom div.shadowBoxClosedBottomDiv, .shadowBoxOpenContainer, .shadowBoxOpenMid, .shadowBoxOpenTop, .shadowBoxOpenTop div.shadowBoxOpenTopDiv, .shadowBoxOpenBottom, .shadowBoxOpenBottom div.shadowBoxOpenBottomDiv, ul.bulletSwirl li, .contentBoxDiv {
  width: 100%;
  position: relative;
  z-index: -1;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-origin: padding-box;
  background-size: auto auto; }

.shadowBoxClosedContainer {
  background-image: url(../images/content-box-mid.png);
  background-repeat: repeat-y;
  background-position: 0% 0%; }

.shadowBoxClosedTop {
  height: 23px;
  padding: 0 0 0 30px;
  background-image: url(../images/content-box-caps.png);
  background-repeat: no-repeat;
  background-position: 0% 0%; }
  .shadowBoxClosedTop div.shadowBoxClosedTopDiv {
    height: 23px;
    padding: 0;
    background-image: url(../images/content-box-caps.png);
    background-repeat: no-repeat;
    background-position: 100% 0%; }

.shadowBoxClosedInner {
  padding: 5px 39px;
  background-image: url(../images/content-box-mid.png);
  background-repeat: repeat-y;
  background-position: 100% 0%;
  overflow: hidden; }

.shadowBoxClosedBottom {
  height: 23px;
  padding: 0 0 0 30px;
  background-image: url(../images/content-box-caps.png);
  background-repeat: no-repeat;
  background-position: 0% 100%; }
  .shadowBoxClosedBottom div.shadowBoxClosedBottomDiv {
    height: 23px;
    padding: 0;
    background-image: url(../images/content-box-caps.png);
    background-position: 100% 100%;
    background-repeat: no-repeat; }

.shadowBoxOpenContainer {
  margin: 20px 0;
  background-image: url(../images/content-box-open-mid.png);
  background-repeat: repeat-y;
  background-position: 0% 0%; }

.shadowBoxOpenMid {
  background-image: url(../images/content-box-open-mid.png);
  background-repeat: repeat-y;
  background-position: 100% 0%;
  position: relative; }

.shadowBoxOpenTop {
  height: 450px;
  padding: 0 0 0 30px;
  background-image: url(../images/content-box-open-caps.png);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  padding-left: 124.2px;
  position: absolute;
  top: 0px;
  left: 0px; }
  .shadowBoxOpenTop div.shadowBoxOpenTopDiv {
    height: 450px;
    padding: 0;
    background-image: url(../images/content-box-open-caps.png);
    background-repeat: no-repeat;
    background-position: 100% 0%; }

.shadowBoxOpenInner {
  width: 100%;
  min-height: 1050px;
  padding: 5px 39px;
  overflow: hidden; }

.shadowBoxOpenBottom {
  height: 121px;
  padding: 0 0 0 30px;
  background-image: url(../images/content-box-open-caps.png);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  padding-left: 124.2px;
  position: absolute;
  bottom: 0px;
  left: 0px; }
  .shadowBoxOpenBottom div.shadowBoxOpenBottomDiv {
    height: 121px;
    padding: 0;
    background-image: url(../images/content-box-open-caps.png);
    background-position: 100% 100%;
    background-repeat: no-repeat; }

a.learnMore {
  margin: 10px 0 0 0;
  font-family: "Georgia",serif;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  color: #1A5C94; }
  a.learnMore:hover {
    text-decoration: underline; }

ul.bulletSwirl {
  width: 100%;
  margin: 0;
  padding: 0 0 10px 30px;
  list-style-type: none;
  display: block; }
  ul.bulletSwirl li {
    padding: 0 20px 15px 20px;
    background-image: url(../images/bullet-swirl.png);
    background-position: 0px 4px;
    background-repeat: no-repeat;
    background-size: auto auto;
    list-style-type: none;
    display: block;
    font-family: "Georgia",serif;
    font-size: 14px;
    line-height: 20px;
    color: #404041; }
    ul.bulletSwirl li a, ul.bulletSwirl li span, ul.bulletSwirl li strong {
      font-family: "news-gothic-std-1","news-gothic-std-2","Arial",sans-serif;
      font-size: 16px;
      font-weight: bold;
      line-height: 20px;
      color: #404041;
      display: block; }

/* HOME CONTENT ~~~~~~~~~~~~~~~~~~~~~~~~*/
#homeBanner {
  width: 100%;
  max-width: 973px;
  height: 298px;
  margin: 0 auto;
  padding: 45px 25px;
  background-image: url(../images/information01.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%; }
  #homeBanner h2 {
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0 33% 0 0;
    line-height: 28px;
    font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2","Georgia",serif;
    font-size: 24px;
    font-weight: 400;
    color: #3D4347;
    background-color: none;
    background: none;
    border-radius: none; }
    @media only screen and (max-width: 860px) {
      #homeBanner h2 {
        line-height: 26px;
        font-size: 22px; } }
  #homeBanner p {
    width: 100%;
    margin: 0;
    padding: 0 33% 0 0;
    line-height: 23px;
    font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2","Georgia",serif;
    font-size: 16px;
    color: #444;
    background-color: none;
    background: none;
    border-radius: none; }
    @media only screen and (max-width: 860px) {
      #homeBanner p {
        line-height: 20px;
        font-size: 14px; } }

.course-box {
  width: 50%;
  padding: 10px 10px 0 0;
  float: left; }
  @media only screen and (max-width: 960px) {
    .course-box {
      width: 100%; } }
  .course-box h2 {
    height: 55px;
    margin: 0px;
    padding: 0 0 5px 0;
    line-height: 25px;
    font-family: "news-gothic-std-1","news-gothic-std-2","Arial",sans-serif;
    font-size: 23px;
    font-weight: 400;
    color: #404041; }
  .course-box img {
    float: left; }
  .course-box p {
    margin: 0px;
    padding: 0 0 5px 116px;
    line-height: 18px;
    font-family: "Georgia",serif;
    font-size: 13px;
    font-weight: 400;
    color: #696A6C; }

.contentBoxDiv {
  width: 100%;
  height: 21px;
  background-image: url(../images/content-box-div.png);
  background-repeat: no-repeat;
  background-position: 50% 10px;
  line-height: 1px;
  padding-top: 10px; }
  @media only screen and (max-width: 960px) {
    .contentBoxDiv {
      display: none; } }

/* CONTACT PAGE ~~~~~~~~~~~~~~~~~~~~~~~~*/
#gform_wrapper_1 {
  width: 100%; }
  #gform_wrapper_1 .gfield {
    width: 100%; }
  #gform_wrapper_1 .gfield_label {
    margin: 0;
    font-size: 12px;
    color: #1A5C94; }
  #gform_wrapper_1 .ginput_container {
    width: 100%; }
    #gform_wrapper_1 .ginput_container input {
      width: 100%; }
  #gform_wrapper_1 input[type=text] {
    margin: 0 0 5px 0;
    background-color: #fff;
    border-top: 1px solid #B2B4B6;
    border-right: 2px solid #DADADB;
    border-bottom: 2px solid #DADADB;
    border-left: 1px solid #B2B4B6;
    border-radius: none;
    line-height: 16px;
    font-family: "Arial",sans-serif;
    font-size: 16px;
    color: #808284; }
  #gform_wrapper_1 textarea {
    background-color: #fff;
    border-top: 1px solid #B2B4B6;
    border-right: 2px solid #DADADB;
    border-bottom: 2px solid #DADADB;
    border-left: 1px solid #B2B4B6; }
  #gform_wrapper_1 .validation_error {
    margin: 0;
    font-size: 12px; }
  #gform_wrapper_1 .validation_message {
    margin: 0;
    font-size: 12px; }
  #gform_wrapper_1 li.gfield.gfield_error {
    border: 1px solid #C89797; }
  #gform_wrapper_1 .gform_footer {
    margin: 0;
    padding: 5px 0; }
  #gform_wrapper_1 input#gform_submit_button_1 {
    width: 85px;
    height: 30px;
    position: relative;
    display: block;
    overflow: hidden;
    border: none;
    background-image: url(../images/button-send.png);
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: auto auto;
    font-family: "Arial",sans-serif;
    font-size: 13px;
    text-decoration: none;
    text-indent: -9999px;
    color: #1A5C94; }

.gform_confirmation_message {
  padding: 20px 0 10px 0;
  color: #1A5C94; }

/* FACULTY PAGE ~~~~~~~~~~~~~~~~~~~~~~~~*/
.faculty-box {
  width: 32%;
  min-height: 320px;
  margin: 0 1% 1% 0;
  padding: 10px;
  border: 1px solid #CAD7E2;
  float: left; }
  .faculty-box h3 {
    margin: 0;
    position: relative;
    line-height: 25px;
    font-family: "news-gothic-std-1","news-gothic-std-2", "Arial", sans-serif;
    font-size: 23px;
    color: #404041; }
    @media only screen and (max-width: 975px) {
      .faculty-box h3 {
        font-size: 18px;
        line-height: 20px; } }
  .faculty-box h4 {
    margin: 0;
    position: relative;
    line-height: 20px;
    font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", "Georgia", serif;
    font-weight: bold;
    font-size: 16px;
    color: #8F8E8E; }
    @media only screen and (max-width: 975px) {
      .faculty-box h4 {
        font-size: 10px;
        line-height: 14px; } }
  .faculty-box p {
    width: 100%;
    margin: 0;
    float: left;
    line-height: 20px;
    font-family: "Georgia", serif;
    font-size: 14px;
    color: #404041; }
  .faculty-box a {
    line-height: 20px;
    text-decoration: none;
    font-family: "Georgia", serif;
    font-size: 11px;
    white-space: nowrap;
    font-weight: bold;
    font-style: normal;
    color: #1A5C94; }
    .faculty-box a:hover {
      color: #1A5C94;
      text-decoration: underline; }

#post-11, #post-40, #post-42, #post-44, #post-47, #post-49, #post-51, #post-53 {
  border: none !important; }

.faculty-pic {
  width: 116px;
  height: auto;
  margin-right: 10px !important;
  margin-bottom: 10px !important;
  float: left; }
  @media only screen and (max-width: 975px) {
    .faculty-pic {
      width: 35%; } }

.faculty-left {
  width: 136px;
  float: left; }
  .faculty-left h3 {
    margin: 0 0 10px 0;
    position: relative;
    float: left;
    line-height: 25px;
    font-family: "news-gothic-std-1","news-gothic-std-2", "Arial", sans-serif;
    font-size: 23px;
    color: #404041; }
  .faculty-left h4 {
    margin: 0;
    position: relative;
    float: left;
    line-height: 20px;
    font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", "Georgia", serif;
    font-weight: bold;
    font-size: 16px;
    color: #8F8E8E; }

.faculty-right {
  width: 100%;
  margin: 0 0 0 -136px;
  padding: 0 0 0 156px;
  float: right; }
  .faculty-right p {
    line-height: 20px;
    font-size: 14px;
    font-family: "Georgia", serif;
    color: #404041; }
  .faculty-right a {
    line-height: 20px;
    font-size: 11px;
    white-space: nowrap;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #1A5C94; }
    .faculty-right a:hover {
      color: #1A5C94;
      text-decoration: underline; }

/*********************
SIDEBARS & ASIDES
*********************/
#sidebar {
  width: 365px;
  padding: 10px 12px 0 0;
  float: right; }

.sidebarTopImg {
  width: 100%;
  height: auto;
  margin: 0 0 15px 0; }

#emailSignup {
  width: 353px;
  margin: 0;
  padding: 20px 25px;
  background: url(../images/gradient-blue-white.png);
  background-position: left bottom;
  background-repeat: repeat-x;
  border: 1px solid #CBD7E2;
  overflow: hidden; }
  #emailSignup img {
    width: 117px;
    height: 117px;
    margin: 0 10px 10px 0;
    border: 1px solid #D1DBE3;
    float: left; }
  #emailSignup h2 {
    margin: 0;
    line-height: 25px;
    font-size: 23px;
    font-weight: 400;
    font-family: "news-gothic-std-1","news-gothic-std-2","Arial",sans-serif;
    color: #446C8E; }
  #emailSignup p {
    margin: 0px;
    padding: 0px;
    line-height: 18px;
    font-size: 13px;
    font-family: "Arial", sans-serif !important;
    color: #696A6C; }
  #emailSignup #gform_wrapper_2 {
    width: 100%; }
    #emailSignup #gform_wrapper_2 .gfield {
      width: 100%; }
    #emailSignup #gform_wrapper_2 .gfield_label {
      margin: 0;
      font-size: 12px;
      color: #1A5C94; }
    #emailSignup #gform_wrapper_2 .ginput_container {
      width: 100%; }
      #emailSignup #gform_wrapper_2 .ginput_container input {
        width: 100%; }
    #emailSignup #gform_wrapper_2 input[type=text] {
      margin: 0 0 5px 0;
      background-color: #fff;
      border-top: 1px solid #B2B4B6;
      border-right: 2px solid #DADADB;
      border-bottom: 2px solid #DADADB;
      border-left: 1px solid #B2B4B6;
      border-radius: none;
      line-height: 16px;
      font-family: "Arial",sans-serif;
      font-size: 16px;
      color: #808284; }
    #emailSignup #gform_wrapper_2 .validation_error {
      margin: 0;
      font-size: 12px; }
    #emailSignup #gform_wrapper_2 .validation_message {
      margin: 0;
      font-size: 12px; }
    #emailSignup #gform_wrapper_2 li.gfield.gfield_error {
      border: 1px solid #C89797; }
    #emailSignup #gform_wrapper_2 .gform_footer {
      margin: 0;
      padding: 5px 0; }
    #emailSignup #gform_wrapper_2 input#gform_submit_button_2 {
      width: 85px;
      height: 30px;
      position: relative;
      display: block;
      overflow: hidden;
      border: none;
      background-image: url(../images/button-join.png);
      background-attachment: scroll;
      background-clip: border-box;
      background-color: transparent;
      background-origin: padding-box;
      background-position: 0% 0%;
      background-repeat: no-repeat;
      background-size: auto auto;
      font-family: "Arial",sans-serif;
      font-size: 13px;
      text-decoration: none;
      text-indent: -9999px;
      color: #1A5C94; }
  #emailSignup .gform_confirmation_message {
    padding: 20px 0 10px 0;
    color: #1A5C94; }

#featuredTeacher {
  width: 375px;
  margin: 0;
  padding: 10px 0 0 0;
  position: relative;
  left: -12px !important;
  border: none; }
  #featuredTeacher img.featuredTeacherLeft {
    width: 116px;
    height: 116px;
    margin: 0 10px 10px 0;
    float: left; }
  #featuredTeacher img.featuredTeacherRight {
    width: 56px;
    height: 105px;
    margin: 0 10px 0 0;
    float: right; }
  #featuredTeacher h2 {
    width: auto;
    margin: 0;
    padding: 0;
    line-height: 25px;
    font-family: "news-gothic-std-1","news-gothic-std-2","Arial",sans-serif;
    font-size: 23px;
    font-weight: 400;
    color: #446C8E;
    float: none;
    clear: none; }
  #featuredTeacher h3 {
    width: auto;
    margin: 0;
    padding: 10px 0 20px 0;
    line-height: 18px;
    font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2","Georgia",serif;
    font-size: 20px;
    font-weight: 400;
    color: #446C8E;
    float: none;
    clear: none; }
  #featuredTeacher p {
    margin: 0px;
    padding: 0 20px 10px 0;
    clear: both;
    line-height: 18px;
    font-family: "Arial",sans-serif;
    font-size: 13px;
    color: #696A6C; }

#weAreHiring {
  width: 353px;
  padding: 10px 0 0 0;
  border: none; }
  #weAreHiring img {
    width: 118px;
    height: 118px;
    margin: 0 10px 70px 0;
    float: left; }
  #weAreHiring h2 {
    margin: 0;
    padding: 0;
    line-height: 25px;
    font-family: "news-gothic-std-1","news-gothic-std-2","Arial",sans-serif;
    font-size: 23px;
    font-weight: 400;
    color: #446C8E; }
  #weAreHiring p {
    margin: 0px;
    padding-top: 10px 20px 10px 0;
    line-height: 18px;
    font-family: "Arial",sans-serif;
    font-size: 13px;
    color: #696A6C; }

.widgettitle {
  border-bottom: 2px solid #444;
  margin-bottom: 0.75em; }

.widget {
  padding: 0 10px;
  margin: 2.2em 0; }
  .widget ul li {
    margin-bottom: 0.75em;
    /* deep nesting */ }
    .widget ul li ul {
      margin-top: 0.75em;
      padding-left: 1em; }

/* links widget */
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* search widget */
/* text widget */
/*********************
FOOTER
*********************/
#footer {
  width: 100%;
  max-width: 997px;
  margin: 0 -365px 0 0;
  padding: 20px 385px 20px 20px;
  float: left;
  text-align: left; }
  #footer p {
    margin: 0px;
    padding: 0px;
    clear: both;
    line-height: 18px;
    font-family: "Arial",sans-serif;
    font-size: 10px;
    color: #6D6E70; }

#navEWFooter {
  width: 100%;
  height: 25px;
  text-align: left; }
  #navEWFooter ul {
    width: 100%;
    height: 25px;
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
    line-height: 18px;
    font-family: "Arial",sans-serif;
    font-size: 10px;
    color: #6D6E70; }
    #navEWFooter ul li {
      float: left;
      display: block;
      list-style-type: none;
      line-height: 18px;
      font-family: "Arial",sans-serif;
      font-size: 11px;
      color: #6D6E70; }
      #navEWFooter ul li a {
        padding: 0 40px 0 0;
        display: block;
        line-height: 18px;
        font-family: "Arial",sans-serif;
        font-size: 11px;
        text-transform: capitalize;
        color: #6D6E70; }
        @media only screen and (max-width: 925px) {
          #navEWFooter ul li a {
            padding: 0 5px 0 0; } }

/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
.wrap {
  width: 1040px; }

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/

/*# sourceMappingURL=ie.css.map */
